{% extends "base.html" %}


{% block head %}
<title> Home </title>
{% endblock %}

{% block body %}
<section>
<h2>Published </h2>




<ul>
    <li>
        <h2> Title Paperr 1 </h2>
         <i>   published in Date </i>
       <h3> <button class="btn"><i class="fa fa-download"></i> Download</button>  </h3>
    </li>
    <li>
        <h2> Title Paperr 1 </h2>
         <i>   published in Date </i>
       <h3>  <button class="btn"><i class="fa fa-download"></i> Download  <div class="counter-box"><span class="counter">times counter</span> </div>  </button>

       </h3>
    </li>
    <li>
        <h2> Title Paperr 1 </h2>
         <i>   published in Date </i>
       <h3> <button class="btn"><i class="fa fa-download"></i> Download</button>  </h3>
    </li>
    <li>
        <h2> Title Paperr 1 </h2>
         <i>   published in Date </i>
       <h3> Downoload button with counter  </h3>
    </li>
    <li>
        <h2> Title Paperr 1 </h2>
         <i>   published in Date </i>
       <h3> Downoload button with counter  </h3>
    </li>
    <li>
        <h2> Title Paperr 1 </h2>
         <i>   published in Date </i>
       <h3> Downoload button with counter  </h3>
    </li>

</ul>
</section>

<section>
<ul>
    <li>
        <h2>WORK 1</h2>
    </li>
    <li>
        <h2>WORK 1</h2>
    </li>
</ul>
</section>
{% endblock %}
